body {
  margin: 0;
  padding: 0;
  font-size: 12px;
  font-family: 'Comfortaa', cursive;
  text-align: center;
  color: #1a0315;
}
.wrapper {
  display: block;
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  font-family: 'Comfortaa', cursive;
  z-index: 1;
}
.bg {
  opacity: 0.4;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
  background-image: url('./assets/beach.jpeg');
  background-size: cover;
}
button,
input {
  border: none;
  background-color: transparent;
  font-family: 'Comfortaa', cursive;
}
button:focus {
  outline: 0;
}
button:active {
  outline: 0;
}

/* QUOTE */
.quote-area {
  color: #826080;
  width: 70%;
  display: block;
  margin: 0 auto;
}
.quote {
  font-size: 1rem;
  line-height: 1.5rem;
}
.author {
  font-size: 0.6rem;
  text-align: right;
}
.main {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.main-part {
  width: 30%;
}
.name-goal-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
/* SIDE MENU */
.side-menu {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin: 3rem 2rem;
}
.btn {
  margin-top: 1.5rem;
  font-size: 0.8rem;
  border-bottom: 1px solid #8eaebd;
  padding-bottom: 0.5rem;
  color: #30415d;
  cursor: pointer;
  width: 40%;
}
.select-menu,
.bg-option {
  font-size: 0.9rem;
  color: #8eaebd;
  background-color: #fcfcee;
  width: 45%;
  font-family: 'Comfortaa', cursive;
  padding: 0.5rem 0;
  border: 0px;
  outline: 0px;
  margin: 0.5rem;
}

/* NAME & GOAL */
.name-title,
.goal-title {
  transition: all 1s ease-in;
}
.name-title {
  font-size: 2rem;
}
.goal-title {
  font-size: 1.3rem;
}
.hide-area {
  opacity: 0;
}
.show-area {
  opacity: 1;
}
.name-input,
.goal-input {
  border-bottom: 1px solid #fff;
  padding: 0.2rem;
  font-size: 1.2rem;
  color: #535353;
}

/* ACTIVITIES */
.list {
  list-style-type: none;
  font-size: 1.3rem;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}
.list-item {
  display: flex;
  flex-direction: column;
  background-color: #eae3ea;
  justify-content: space-between;
  width: 32%;
  align-content: flex-start;
  border-radius: 1rem;
  padding: 0.5rem;
  margin: 1rem;
  font-size: 1.2rem;
  line-height: 2rem;
  color: #826080;
}

/* DATE & PLACE */
.place-date {
  display: flex;
  text-align: center;
  justify-content: space-around;
  flex-direction: row;
  width: 40%;
  margin: 0 auto;
}
.date,
.place {
  font-size: 1rem;
}

/* TIME */
.time {
  font-size: 2.5rem;
}

/* RESPONSIVE DESIGN */
@media screen and (max-width: 500px) {
  .quote {
    font-size: 1.2rem;
    line-height: 1.8rem;
  }
  .author {
    font-size: 0.9rem;
  }
  .main-part {
    width: auto;
  }
  .side-menu {
    width: 20%;
    margin: 1rem;
  }
  .btn {
    margin-top: 0.3rem;
    font-size: 0.5rem;
    text-underline-position: under;
    cursor: pointer;
    width: 80%;
  }
  .select-menu,
  .bg-option {
    font-size: 0.4rem;
    width: 80%;
    padding: 0.3rem 0;
    margin: 0.3rem;
  }
  .name-title {
    font-size: 1.5rem;
  }
  .goal-title {
    font-size: 1.2rem;
  }
  .name-input,
  .goal-input {
    padding: 0.1rem;
    font-size: 1rem;
  }
  .list {
    font-size: 1rem;
  }
  .list-item {
    padding: 0.2rem;
    margin: 0.3rem;
    font-size: 1rem;
    line-height: 1.2rem;
  }
}
